{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            {% if listing.is_active %}
                <div class="col-12 col-sm-12 col-lg-5">
                    <div class="row p-3">
                        <div class="col-12 mb-3">
                            {% if listing.image %}
                                <img src="{{ listing.image }}" alt="{{ listing.title }}" class="img-fluid">
                            {% else %}
                                <img src="https://www.hwh-web.at/images/no-image-available.png" alt="{{ listing.title }}" class="img-fluid">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12 col-sm-12 col-lg-5">
                    <div class="row p-3" style="position: relative; height: auto;">
                        <h6 class="h3" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); 
                        opacity: 1; color:rgb(255, 255, 255); background-color: rgb(223, 0, 0);">
                            CLOSED
                        </h6>
                        <div class="col-12 mb-3" style="opacity: 0.3;">
                            {% if listing.image %}
                                <img src="{{ listing.image }}" alt="{{ listing.title }}" class="img-fluid">
                            {% else %}
                                <img src="https://www.hwh-web.at/images/no-image-available.png" alt="{{ listing.title }}" class="img-fluid">
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="col-12 col-sm-12 col-lg-7 mt-3">
                <div class="row">
                    <div class="col-6 p-3"><h5>{{ listing.title }}</h5></div>
                    {% if user.is_authenticated %}
                        <div class="col-6">
                            <div class="row">
                                {% if listing.creator != user %}
                                    {% if is_in_watchlist %}
                                        <form form class="col-6" action="{% url 'remove_to_watchlist' listing_id=listing.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="row"><input type="submit" class="col-12 bg-danger" name="remove_to_watchlist" value="remove to watchlist"></div>
                                        </form>
                                    {% else %}
                                        <form form class="col-6" action="{% url 'add_to_watchlist' listing_id=listing.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="row"><input type="submit" class="col-12" name="add_to_watchlist" value="add to watchlist"></div>
                                        </form>
                                    {% endif %}
                                {% else %}
                                    {% if listing.is_active %}
                                        <form form class="col-6" action="{% url 'close_auction' listing_id=listing.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="row"><input type="submit" class="col-12 bg-success" name="close_auction" value="Close"></div>
                                        </form>
                                    {% else %}
                                        <h5 class="p-3">You closed this auction </h5>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12"><hr></div>
                        <div class="col-12">
                            <div class="row">
                                {% if listing.creator != user %}
                                    {% if listing.is_active %}
                                        {% if message %}
                                            <div class="col-12"><p>{{ message }}</p></div>
                                        {% endif %}
                                        <div class="col-12 mt-3">Place a bid</div>
                                        <form action="{% url 'bid' listing_id=listing.id %}" method="POST" class="col-6 p-3">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="number" min="1" name="bid" required>
                                                    <input type="submit" name="place_bid" value="Bid">
                                                </div>
                                                <div class="col-4"></div>
                                            </div>
                                        </form>
                                    {% elif not listing.is_active and listing.winner == user %}
                                        <div class="col-12 text-success"><h5>congratulations {{ listing.winner }}, you won</h5></div>
                                    {% elif not listing.is_active %}
                                        <div class="col-12"><h4 class="text-danger">auction closed</h4></div>
                                    {% endif %}
                                {% else %}
                                    {% if listing.winner %}
                                        <div class="col-12"><h5>{{ listing.winner }} won this auction</h5></div>
                                    {% else %}
                                        {% if not listing.is_active %}
                                            <div class="col-12"><h5>There is no winner</h5></div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-12 my-3"><u>Description</u></div>
                    <div class="col-12"><p>{{ listing.description }}</p></div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 p-3">
                                <div class="row">
                                    <div class="col-5">Listed by:</div>
                                    <div class="col-7"><strong>{{ listing.creator }}</strong></div>
                                </div>
                            </div>
                            <div class="col-12 p-3">
                                <div class="row">
                                    <div class="col-5">Starting price:</div>
                                    <div class="col-7"><strong>$ {{ listing.price }}</strong></div>
                                </div>
                            </div>
                            <div class="col-12 p-3">
                                <div class="row">
                                    {% if listing.bid %}
                                        {% if listing.is_active %}
                                            <div class="col-5">Current Bid:</div>
                                        {% else %}
                                            <div class="col-5">last Bid:</div>
                                        {% endif %}
                                        <div class="col-7"><strong>$ {{ listing.bid }}</strong></div>
                                    {% else %}
                                        {% if listing.is_active %}
                                            <div class="col-12">No bid yet. be the first to bid</div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5 text-center">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <form class="row py-3" action="" method="post">
                            {% csrf_token %}
                            <div class="col-12 text-center">
                                <input class="px-5" type="text" name="comment" required>
                                <input type="submit" name="comment" value="comment">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-3">
                sdkjflksqdlkflqskjflkflkjdlfjsldjflkqsjdf
                sdkjflksqdlkflqskjflkflkjdlfjsldjflkqsjdf
                sdkjflksqdlkflqskjflkflkjdlfjsldjflkqsjdf
                sdkjflksqdlkflqskjflkflkjdlfjsldjflkqsjdf
                sdkjflksqdlkflqskjflkflkjdlfjsldjflkqsjdf
                sdkjflksqdlkflqskjflkflkjdlfjsldjflkqsjdf
                sdkjflksqdlkflqskjflkflkjdlfjsldjflkqsjdf
                sdkjflksqdlkflqskjflkflkjdlfjsldjflkqsjdf
                sdkjflksqdlkflqskjflkflkjdlfjsldjflkqsjdf
                sdkjflksqdlkflqskjflkflkjdlfjsldjflkqsjdf
            </div>
        </div>
    </div>
{% endblock %}