{% extends "auctions/layout.html" %}

{% block body %}
    <h2 align="center" class="m-3">watchlist</h2>
    <div class="container-fluid">
        <div class="row d-flex flex-wrap justify-content-center">
            {% for listing in watchlist %}
                <div class="col-12 col-sm-6 col-lg-2 border mx-3 mb-5">
                    <div class="row">
                        {% if listing.is_active %}
                            <a href="{% url 'listing' listing.id %}" class="col-12 text-center">
                                <div class="row">
                                    <div class="col-12 text-center pt-3">
                                        {% if listing.image %}
                                            <img src="{{ listing.image }}" alt="{{ listing.title }}" class="img-fluid p-3" style="max-height: 250px; background-color: green;">
                                        {% else %}
                                            <img src="https://www.hwh-web.at/images/no-image-available.png" alt="{{ listing.title }}" class="img-fluid p-3" style="max-height: 250px; background-color: green;">
                                        {% endif %}
                                    </div>
                                    <div class="col-12 text-center mt-3">
                                        <strong style="color: rgb(11, 200, 11);">Active</strong><h6><u>{{ listing.title }}</u></h6>
                                    </div>
                                </div>
                            </a>
                        {% else %}
                            <a href="{% url 'listing' listing.id %}" class="col-12 text-center disabled">
                                <div class="row" style="position: relative; height: auto;">
                                    <h6 class="h3" style="position: absolute; top: 35%; left: 50%; transform: translate(-50%, -50%); opacity: 1; color:rgb(255, 255, 255); background-color: rgb(223, 0, 0);">CLOSED</h6>
                                    <div class="col-12 text-center pt-3" style="opacity: 0.3;">
                                        {% if listing.image %}
                                            <img src="{{ listing.image }}" alt="{{ listing.title }}" class="img-fluid p-3" style="max-height: 250px; background-color: rgb(108, 108, 108);">
                                        {% else %}
                                            <img src="https://www.hwh-web.at/images/no-image-available.png" alt="{{ listing.title }}" class="img-fluid p-3" style="max-height: 250px; background-color: rgb(108, 108, 108);">
                                        {% endif %}
                                    </div>
                                    <div class="col-12 text-center mt-3">Closed<h5><u>{{ listing.title }}</u></h5></div>
                                </div>
                            </a>
                        {% endif %}
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 text-center mt-3" style="overflow-y: scroll;" id="description">{{ listing.description }}</div>
                                <div class="col-12 text-center"><hr></div>
                                {% if listing.category %}
                                    <div class="col-5">category:</div>
                                    <div class="col-7">{{ listing.category }}</div>
                                {% endif %}
                                <div class="col-7">start price:</div>
                                <div class="col-5">${{ listing.price }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-12 text-center mt-5"><h2>No listing added in your watchlist</h2></div>
                <div class=""><a href="{% url 'index' %}">active listings</a></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}